root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
# Keep markdown files readable, don’t trim trailing whitespace (needed for line breaks)
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
